table {
    width: 100%;
  }
  .row{
      margin: 0px 0px 10px !important;
  }
  tr:last-child {
    font-weight: bold;
  }

  th:nth-child(n+2), td:nth-child(n+2){
    text-align: center
  }
  .mat-fab{
    width: 40px !important;
    height: 40px !important;
  }
  
  